a(href="#", target="_blank", rel="nofollow") link 1

//- podemos manter a class ou id no elemento da seguinte maneira
a.class#id(href="#", target="_blank", rel="nofollow") link 2

//- declarando atributos, classes e ids com outra sintaxe. note que os atributos são declarados com indentação
a.class#id(
  href="#",
  target="_blank",
  rel="nofollow"
) link 3

//- também podemos tratar a class e id como os outros atributos
a(
  href="#",
  target="_blank",
  rel="nofollow",
  id="idname",
  class="classname",
) link 4

//- a class também pode ser declarada como uma array, se precisar utilizar mais de uma
a(
  href="#",
  target="_blank",
  rel="nofollow",
  id="idname",
  class=["class1", "class2", "class3"]
) link 5


//- exemplo de atributos como um objeto javascript
a()&attributes({
  'id': 'idname',
  'href': 'link.html',
  'target': '_blank',
  'class': ['class1', 'class2', 'class3']
}) link 6